doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.min.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css')
    script(src='/js/main.js' async defered)
  body
    block content
