extends layout

block content
  h1= title
  main
    div#topbar
        div
            button#createMode.btn.btn-sm.btn-primary Create
            button#circleMode.btn.btn-sm.btn-primary Circle
        div#mode
    div#map
