@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.leaflet-cursor-icon {
  border-radius: 50%;
}

a {
  color: #00B7FF;
}

main {
  display: grid;
  min-height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 70vh;
  grid-template-areas:
          'topbar topbar'
          'map sidebar';
  #topbar {
    grid-area: topbar;
  }
  #map {
    grid-area: map;
    height: 100%;
    &[mode="none"] .leaflet-cursor-icon {
      display: none;
    }
    &:not([mode="none"]) {
      cursor: default;
    }
  }
}
